tr.executor-table-header {
    background-color: black;
    color: white;
}

table.executor-table {
    & > tbody {
        tr:nth-child(even) {background-color: white};
    }
}

div.svg-wrapper-div {
    background-color: lightgrey;
    text-align: center;
    padding: 8px;
    overflow: auto;
    width: 100%;
}